<div>
  <div></div>
  <mat-card class="project-card" style="background-color:coral;">
    <mat-card-header>
      <mat-card-title>Yoga App - Yuj</mat-card-title>
      <mat-card-subtitle>An online yoga studio</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        Android application for a friends yoga studio. It includes Profiles, payments and batches.
        Tech stack - android, firebase realtime db, youtube apis, upi app integration
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://github.com/thelittlecormorant/Yuj" target="_blank" mat-button><img src="../../assets/GitHub-Mark-Light-32px.png" style="height: 32px;width: 32px;"></a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="project-card" style="background-color:cornflowerblue;">
    <mat-card-header>
      <mat-card-title>M.S.Natyalaya</mat-card-title>
      <mat-card-subtitle>Website for a Bharatanatyam school</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        Co-created this is website for the school with info, gallery and contact forms. Also made twitter rolls and
        YouTube integraions.
        Tech stack - HTML, CSS, JQUERY, Javascript, c#, asp.net, Google Forms, OAUTH, Twitter APIs, YouTube APIs.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://github.com/thelittlecormorant" target="_blank" mat-button><img src="../../assets/GitHub-Mark-Light-32px.png" style="height: 32px;width: 32px;"></a>
      <a href="http://msnatyalaya.com/" target="_blank" mat-button><img src="../../assets/globe.svg" style="fill:white;height: 32px;width: 32px;"></a>

    </mat-card-actions>
  </mat-card>


  <mat-card class="project-card" style="background-color:crimson;">
    <mat-card-header>
      <mat-card-title>Dinam Oru Kural</mat-card-title>
      <mat-card-subtitle>Listen to thirukural daily</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        Android application for sending a Tirukural a day every morining. Worked on notifications, alarms, background
        services and recycler views.
        Tech stack - android, firebase storage
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://github.com/thelittlecormorant/DinamOruKural" target="_blank" mat-button><img src="../../assets/GitHub-Mark-Light-32px.png" style="height: 32px;width: 32px;"></a>
     </mat-card-actions>
  </mat-card>

  <mat-card class="project-card" style="background-color:lightseagreen;">
    <mat-card-header>
      <mat-card-title>e-Saarum</mat-card-title>
      <mat-card-subtitle>Online content provision and student management system</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        It's an web application for students to login and listen to class course contents. As a sample complete Class 6,
        Tamil Nadu Board curriculam was made into animations and action slides. We even demoed the project to govt
        school children.
        Tech stack - C#, ASP.NET, SQL, Adobe Flash, Adobe spark
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://github.com/thelittlecormorant/e-saarum" target="_blank" mat-button><img src="../../assets/GitHub-Mark-Light-32px.png" style="height: 32px;width: 32px;"></a>
  </mat-card-actions>
  </mat-card>

  <mat-card class="project-card" style="background-color:darkorchid;">
    <mat-card-header>
      <mat-card-title>Volundeer</mat-card-title>
      <mat-card-subtitle>Tool for wild life conservation and volunteer management</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        As part of a symposium created a website for voluteer management and for presenting wild life info.
        Tech stack - c#, asp.net, SQL, HTML, CSS, JQUERY
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://github.com/thelittlecormorant/Volundeer" target="_blank" mat-button><img src="../../assets/GitHub-Mark-Light-32px.png" style="height: 32px;width: 32px;"></a>
    </mat-card-actions>
  </mat-card>


</div>