@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200&display=swap');



.title{
  font-family: 'Mali', cursive;
  font-size: medium;
  padding-left: 2vh;
  color: #962307ff;
  
}

.title img{
  height: 3vh;
  width: 3vh;

}

.footer{
  margin: 1vh;
  padding-left: 3vh;
  border-top: 2px solid #962307ff ;
}

.icons{
  color:#962307ff;
  padding-right: 2vh ;
}


.menubar{
  padding-right:3vh;
}

.menubar .icons{
  color: #962307ff;
  padding:2vh;
  height: 50vh;
  width: 50vh;
}

.aboutbox{
  background-color: #b10853ff;
}

.labsbox{
  background-color: #1c2edeff;
}

.blogsbox{
  background-color: #02967dff;
}

.contactbox{
  background-color: #9d2422ff;
  
}



.menu{
  padding: 2vh;
  text-align: center;
}
.menu a{
  font-size:x-large;
  text-align: center;
}

.example-flex-container {
  display: flex;
  /* justify-content:space-around; */
  flex-wrap: wrap;
  color:#962307ff;
}